@{
    ViewData["Title"] = "Login";
}
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Delivery.Domain.Entity.User

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form asp-action="ProfilePage" asp-controller="Account">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div>
            <div class="form-group">
                <label asp-for="Name">Введите логин</label>
                <input type="text" asp-for="Name" />
                <span asp-validation-for="Name" />
            </div>
            <div class="form-group">
                <label asp-for="Password">Введите пароль</label>
                <input asp-for="Password" type = "password" />
                <span asp-validation-for="Password" />
            </div>
            <div class="form-group">
                <input type="submit" value="Войти" class="btn" />
            </div>
        </div>
    </form>
</div>